<h1>Printer Weather</h1>

<p>(A demo <a href="http://printer.gofreerange.com">Printer</a> application)</p>

<p>This application can automatically send weather reports to printers in the morning. <a href="http://printer.gofreerange.com/">Find out more about printers</a>. It's really just an example of how you can build a simple content provider for diminutive internet printers.</p>

<p>You can <a href="https://github.com/freerange/printer-weather">take a look at the source</a>.
  
<p>If you have a printer, and want to use this instance of Printer Weather to get weather reports, you can <a href="/register">register here</a>.</p>

<p>If you don't have a printer, why not <a href="http://printer.gofreerange.com/getting-a-printer">find out how to get or make a printer</a> for yourself?</p>