<html>
<head>
<link rel="stylesheet" href="http://printer.gofreerange.com/stylesheets/print.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/stylesheets/weather.css" type="text/css" media="screen" title="no title" charset="utf-8">
<style>
input, textarea {
  width: 100%;
  font-size: 24px;
}
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/javascripts/weather.js"></script>
</head>
<body class="preview">
  <div class="paper">
    <div class="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>