<h1>Register your printer for a morning weather report</h1>

<p>This service will use your IP to determine your location. Obviously that's a bit simple, but this is only a demonstration application after all.</p>

<form action="" method="post">
  <label for="job[print_url]">Printer URL
    <input type="text" name="job[print_url]" />
  </label>
  <input type="submit" value="Save" />
</form>